<form class="form" action="">
    <fieldset class="form__fieldset">
        <legend class="sr-only">Login Form</legend>
        <input class="form__input" id="userInput" type="text" placeholder="User">
        <label class="sr-only" for="userInput">User</label>

        <input class="form__input" id="emailInput" type="text" placeholder="Email">
        <label class="sr-only" for="emailInput">Email</label>

        <input class="form__input" id="passwordInput" type="password" placeholder="Password">
        <label class="sr-only" for="passwordInput">Password</label>

        <button type="submit" class="form__btn">Sign in</button>
    </fieldset>
</form>
