// Colours
$esz-black: #000000;
$esz-white: #111111;
$esz-gray: #b0b0b0;
$esz-blue: #5885ea;

// Media queries
$esz-max-iphoneSE-resolution: 350px;
$esz-min-tablet-resolution: 768px;
$esz-min-desktop-resolution: 992px;
$esz-min-lg-desktop-resolution: 1200px;